@font-face {
    font-family: "undefined-medium";
    src: url("../assets/fonts/undefined-medium.woff2") format("woff2"),
        url("../assets/fonts/undefined-medium.woff") format("woff");
}

:root {
    --game-width: 800px;
    --game-height: 720px;

    --game-area-width: 640px;
    --game-area-height: 560px;
}

body {
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: undefined-medium, monospace;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    background-color: #000000;

    overflow: hidden;
}

main {
    position: relative;
    width: var(--game-width);
    height: var(--game-height);
}

.hidden {
    opacity: 0;
}

.img {
    position: relative;
    overflow: hidden;

    & > img {
        position: absolute;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

.btn {
    padding: 1em 2em;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.25em;
    font-family: sans-serif;

    cursor: pointer;

    transition: transform 100ms ease-in-out;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.reset-btn-wrapper {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    bottom: 75%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;

    &.reset-btn-wrapper--active {
        display: flex;
    }
}
