:root {
    --game-width: 800px;
    --game-height: 720px;

    --game-area-width: 640px;
    --game-area-height: 560px;
}

body {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
}

.img {
    position: relative;
    overflow: hidden;

    & > img {
        position: absolute;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}
