.game-panel {
    position: relative;
    display: block;
    max-width: var(--game-width);
    border: 16px solid #000000;
    box-sizing: border-box;
}

.game-panel-group {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--game-width);
    max-height: var(--game-height);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;

    &.game-panel-group--horz {
        flex-direction: row;
        & > .game-panel {
            height: 100%;
        }
    }

    &.game-panel-group--vert {
        flex-direction: column;
        & > .game-panel {
            width: 100%;
        }

        & .game-area {
            width: var(--game-area-width);
            height: var(--game-area-height);
        }
    }

    &.game-panel-group--game-area {
        max-height: var(--game-area-height);
    }
}
