:root {
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
    font-size: 20px;
}

.hidden {
    opacity: 0;
}

#game {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 4em;

    & .background {
        position: absolute;
        inset: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.img {
    position: relative;
    overflow: hidden;

    & > img {
        position: absolute;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

.mood-bar {
    position: absolute;
    width: 50%;
    height: 2em;
    top: 10%;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.7;

    & > .mood-bar__bar {
        position: absolute;
        height: 100%;
        width: 50%;
        background-color: #ff0000;
        transition: width 100ms linear;
    }
}

.speech-bubbles {
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 25%;
    right: 25%;

    & > .speech-bubble {
        position: absolute;
        padding: 2em;
        background-color: #ffffff;
        border: 2px solid black;
        border-radius: 32px;
        box-shadow: 0 0 16px 4px;

        transition: opacity 500ms ease-in-out;

        &--corner {
            &-top-left {
                border-bottom-right-radius: 0;
                transform: translate(-100%, -100%);
            }
            &-top-right {
                border-bottom-left-radius: 0;
                transform: translate(0, -100%);
            }
            &-bottom-left {
                border-top-right-radius: 0;
                transform: translate(-100%, 0);
            }
            &-bottom-right {
                border-top-left-radius: 0;
                transform: translate(0, 0);
            }
        }
    }
}
