:root {
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 20px;
}

.img {
    position: relative;
    overflow: hidden;

    & > img {
        position: absolute;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 4em;
}
