.speech-bubbles {
    position: absolute;
    z-index: 1;
    top: 20%;
    bottom: 30%;
    left: 25%;
    right: 25%;

    & > .speech-bubble {
        position: absolute;
        padding: 2em;
        background-color: #ffffff;
        border: 2px solid black;
        border-radius: 32px;
        box-shadow: 0 0 16px 4px;

        // transition: opacity 500ms ease-in-out;
        animation: fadeIn 500ms ease-in-out forwards;

        &--fade-out {
            animation: fadeOut 500ms ease-in-out forwards;
        }

        &--corner {
            &-top-left {
                border-bottom-right-radius: 0;
                transform: translate(-100%, -100%);
            }
            &-top-right {
                border-bottom-left-radius: 0;
                transform: translate(0, -100%);
            }
            &-bottom-left {
                border-top-right-radius: 0;
                transform: translate(-100%, 0);
            }
            &-bottom-right {
                border-top-left-radius: 0;
                transform: translate(0, 0);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
